$color-primary: #202020;
$color-secondary: #00c665;
$color-secondary-dark: #00903b;
$color-dark: #232323;

$color-tertiary: #0085b5;
$color-tertiary-2: #63c1e4;

$color-white: #fff;
$color-grey-1: #fafafa;
$color-grey-2: #e4e4e4;
$color-grey-3: #f4f4f4;
$color-grey-dark: #777373;
$color-grey-dark-2: #c2bdbd;

$xl: 1200px;
$md: 768px;
$sm: 600px;

$box-shadow: 1px 1.5px 5px rgba(0,0,0,0.3);


$color-grey-light: #f8f8f8;